jobs:
  build:
    docker:
    - image: docker:19.03.5
    steps:
    - checkout
    - setup_remote_docker:
        version: 18.09.3
    - run:
        command: DOCKER_BUILDKIT=1 docker build --progress=plain -t tritonmedia/base
          -f Dockerfile .
        name: Build "tritonmedia/base" Docker Image
    - run:
        command: echo "$DOCKER_PASSWORD" | docker login --username "${DOCKER_USERNAME}"
          --password-stdin && docker push tritonmedia/base
        name: Publish "tritonmedia/base" Docker Image
    - run:
        command: DOCKER_BUILDKIT=1 docker build --progress=plain -t tritonmedia/base:ubuntu
          -f Dockerfile.ubuntu .
        name: Build "tritonmedia/base:ubuntu" Docker Image
    - run:
        command: echo "$DOCKER_PASSWORD" | docker login --username "${DOCKER_USERNAME}"
          --password-stdin && docker push tritonmedia/base:ubuntu
        name: Publish "tritonmedia/base:ubuntu" Docker Image
version: 2
workflows:
  build-push:
    jobs:
    - build:
        context: Docker
  version: 2
